.sidebar-admin {
    width: 250px;
    height: 100vh;
    background-color: var(--color-black);

    h2 {
        display: flex;
        height: 50px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #ffffff;
    }
    li a {
        text-decoration: none;
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        padding-left: 20px;
        border-bottom: 1px solid #ccc;
        color: var(--color-white);
        &:hover {
            background-color: var(--color-green-hover);
        }
    }
}
