.container {
    margin: 50px 0 0 0;
    width: 100%;
}
.footer {
    height: 250px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

h4 {
    padding: 20px 0 2px 0;
}
.footer_sub {
    width: 400px;
    padding: 0 30px;
}
.footer_info {
    text-align: left;
}
.footer_title {
    font-size: 20px;
    border-bottom: 1px solid #333;
}
.footer_info p,
.footer_info ul li {
    list-style-type: none;
    margin: 15px 0;
}
.footer_info li a {
    color: var(--color-black);
    text-decoration: none;
    font-size: 17px;
    &:hover {
        color: var(--color-black);
    }
}
.footer_logo {
    display: flex;
    background-color: #f6f6f6;
    height: 60px;
    border-top: 1px solid #e8e8f1;
    align-items: center;
    justify-content: center;
}
